/* {
  margin:0;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fbeach-vacation&psig=AOvVaw2k-sj_Ol__nP_sXiYNDZEY&ust=1642606335437000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIC99uXPu_UCFQAAAAAdAAAAABAD);
  height: 100vh;
  background-size: cover;
  background-position:center;
}
  
*/
